#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* Индексы 0-9 */
                &kp W          &kp M          &kp V          &kp N
                &kp LEFT       &kp RIGHT      &none          &none          &none          &none
                
                /* Индексы 10-19 */
                &kp LC(V)      &kp LC(C)      &kp K          &mt LSHFT F11
                &none          &none          &none          &none          &none          &none
            >;
        };
    };

    combos {
        compatible = "zmk,combos";
        
        bt_clear {
            key-positions = <0 1>;  // W + M
            bindings = <&bt BT_CLR>;
            timeout-ms = <50>;
        };
        
        bt_next {
            key-positions = <2 3>;  // V + N
            bindings = <&bt BT_NXT>;
            timeout-ms = <50>;
        };
        
        bt_prev {
            key-positions = <4 5>;  // LEFT + RIGHT
            bindings = <&bt BT_PRV>;
            timeout-ms = <50>;
        };
        
        bt_sel_0 {
            key-positions = <0 4>;  // W + LEFT
            bindings = <&bt BT_SEL 0>;
            timeout-ms = <50>;
        };
        
        bt_sel_1 {
            key-positions = <1 5>;  // M + RIGHT
            bindings = <&bt BT_SEL 1>;
            timeout-ms = <50>;
        };
        
        bt_sel_2 {
            key-positions = <2 12>; // V + K
            bindings = <&bt BT_SEL 2>;
            timeout-ms = <50>;
        };
        
        bt_sel_3 {
            key-positions = <3 13>; // N + F11
            bindings = <&bt BT_SEL 3>;
            timeout-ms = <50>;
        };
    };
};
