#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* 
               Матрица 1x20. Биндинги расставлены по логическим индексам.
               Левая половина:
                 Верхний ряд: 0, 1, 2, 3
                 Большие пальцы: 4, 5
                 Нижний ряд: 13, 12, 11, 10
            */
            bindings = <
                /* Индексы 0-9 */
                &kp W          &kp M          &kp V          &kp N
                &kp LEFT       &kp RIGHT      &none          &none          &none          &none
                
                /* Индексы 10-19 */
                &kp LC(V)      &kp LC(C)      &kp K          &mt LSHFT F11
                &none          &none          &none          &none          &none          &none
            >;
        };
    };
};
